@import '../variables.less';

:local {
  @side-padding: 8px;
  @side-padding-padded: 25px;

  .root {
    display: inline-block;
    position: relative;
    width: 250px;
  }

  .input {
    border: 1px solid @border-color-gray-light;
    border-top-color: @border-color-gray-dark;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    height: 34px;
    line-height: 32px;
    outline: none;
    padding: 0 @side-padding;
    width: 100%;
  }

  .input::-ms-clear {
    display: none;
  }

  .deprecated_sizeLarge .input {
    height: 36px;
    line-height: 34px;
  }

  .deprecated_sizeDefault .input {
    height: 30px;
    line-height: 28px;
  }

  .deprecated_sizeSmall .input {
    height: 24px;
    line-height: 22px;
  }

  .input:focus {
    border-color: @border-color-focus;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-focus;
    position: relative;
    z-index: 2;
  }

  :global(.rt-ie8) {
    .input:focus {
      outline: 1px solid @border-color-focus;
    }
  }

  .disabled .input {
    background: @bg-disabled;
    border-color: @border-color-gray-light;
    color: @text-color-disabled;
  }

  .warning .input {
    border-color: @border-color-warning;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-warning;
    position: relative;
    z-index: 2;
  }

  .error .input {
    border-color: @border-color-error;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-error;
    position: relative;
    z-index: 2;
  }

  :global(.rt-ie8) {
    .warning .input {
      outline: 1px solid @border-color-warning;
    }

    .error .input {
      outline: 1px solid @border-color-error;
    }
  }

  .padLeft .input {
    padding-left: @side-padding-padded;
  }

  .padRight .input {
    padding-right: @side-padding-padded;
  }

  .placeholder {
    color: #aaa;
    left: @side-padding + 1;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    right: @side-padding + 1;
    top: 1px;
    white-space: nowrap;
    z-index: 2;
  }
  .padLeft .placeholder {
    left: @side-padding-padded + 1;
  }
  .padRight .placeholder {
    right: @side-padding-padded + 1;
  }

  .leftIcon,
  .rightIcon {
    color: #a9a9a9;
    cursor: text;
    line-height: 32px;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .disabled .leftIcon,
  .disabled .rightIcon {
    cursor: default;
  }

  .leftIcon {
    left: 8px;
  }

  .rightIcon {
    right: 8px;
  }

  .deprecated_sizeLarge .leftIcon,
  .deprecated_sizeLarge .rightIcon {
    line-height: 34px;
  }

  .deprecated_sizeDefault .leftIcon,
  .deprecated_sizeDefault .rightIcon {
    line-height: 28px;
  }

  .deprecated_sizeSmall .leftIcon,
  .deprecated_sizeSmall .rightIcon {
    line-height: 22px;
  }

  .borderless .input {
    border-width: 0;
  }
}
