@green: #00aa90;
@blue: #1e79be;
@red: #d70c17;
@yellow: #f8982d;

:local {
  .spinner {
    display: inline-block;
    text-align: center;
  }

  .caption {
    color: rgb(128, 128, 128);
    font-size: 14px;
    line-height: 20px;
  }

  .captionRight {
    composes: caption;
    margin-left: 5px;
    position: relative;
    top: -3px;
  }

  .captionBottom {
    composes: caption;
    display: block;
  }

  .path {
    fill: none;
    stroke-linecap: round;

    .spinner_big &,
    .spinner_small & {
      stroke-width: 2px;
    }
  }

  .cloud .bg {
    fill: none;
    stroke: #eee;
  }

  .cloud .path {
    stroke-dasharray: 20, 86;
    stroke-dashoffset: 15;

    :global {
      animation: rt_cloud_offset 1s cubic-bezier(.50, .20, .50, .80) infinite,
      rt_cloud_length 2s cubic-bezier(.36, .14, .38, .69) infinite,
      rt_color 6s ease-in-out infinite;
    }
  }

  .circle {
    fill: none;
    stroke-dasharray: 10, 27;
    stroke-dashoffset: -37;
    stroke-width: 1.5px;

    :global {
      animation: rt_circle_offset 1s cubic-bezier(.50, .20, .50, .80) infinite,
      rt_circle_length 2s cubic-bezier(.36, .14, .38, .69) infinite,
      rt_rotate 2s linear infinite,
      rt_color 6s ease-in-out infinite;
    }
  }
}

@keyframes rt_cloud_offset {
  0% {
    stroke-dashoffset: 0+10;
  }
  100% {
    stroke-dashoffset: 106+10;
  }
}

@keyframes rt_cloud_length {
  0% {
    stroke-dasharray: 10, 96;
  }
  50% {
    stroke-dasharray: 50, 56;
  }
  100% {
    stroke-dasharray: 10, 96;
  }
}

@keyframes rt_circle_offset {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -37;
  }
}

@keyframes rt_circle_length {
  0% {
    stroke-dasharray: 10, 27;
  }
  50% {
    stroke-dasharray: 30, 7;
  }
  100% {
    stroke-dasharray: 10, 27;
  }
}

@keyframes rt_color {
  100%,
  0% {
    stroke: @red;
  }
  40% {
    stroke: @yellow;
  }
  66% {
    stroke: @green;
  }
  80%,
  90% {
    stroke: @blue;
  }
}

@keyframes rt_rotate {
  100% {
    transform: rotate(360deg);
  }
}
