@import '../variables.less';

:local {
  @focus-shadow: 0 0 0 1px @border-color-focus,
    inset 0 0 0 1px @border-color-gray-lighter;

  .root {
    border: 1px solid;
    border-radius: 3px;
    color: @text-color-default;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    margin: 0; // Safari adds margin by default.
    outline: 0;
    position: relative;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .root > div {
    position: relative;
  }

  .root:focus {
    border-color: @border-color-focus;
    box-shadow: @focus-shadow;
    position: relative;
    z-index: 2;
  }

  :global(.rt-ie8) {
    .root:focus {
      outline: 1px solid @border-color-focus;
    }

    .root:focus:before {
      border: 1px solid @border-color-gray-lighter;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .root:active,
    .root.active {
      outline: 0;

      &:before {
        display: none;
      }
    }
  }

  .sizeSmall {
    height: 34px;
    line-height: 32px;
    padding: 0 15px;
  }

  .sizeMedium {
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
  }

  .sizeLarge {
    font-size: 16px;
    height: 44px;
    line-height: 42px;
    padding: 0 20px;
  }

  .deprecated_sizeDefault {
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
  }

  .deprecated_sizeLarge {
    height: 36px;
    line-height: 34px;
    padding: 0 20px;
  }

  .use-default {
    background: #f9f9f9;
    background: linear-gradient(#fefefe, #ececec);
    border-color: @border-color-gray-light @border-color-gray-light
      @border-color-gray-dark;

    &:hover {
      background: #ebebeb;
      background: linear-gradient(#f2f2f2, #dfdfdf);
    }
  }
  .use-default:active,
  .use-default.active {
    background: @border-color-gray-light;
    border-color: #a6a6a6 #ccc #ccc;
    box-shadow: inset 0 2px 2px -2px #a6a6a6;
  }

  .use-primary {
    background: @btn-primary-bg;
    background: linear-gradient(@btn-primary-bg-lg-start,
      @btn-primary-bg-lg-end);
    border-color: @btn-primary-bc-top @btn-primary-bc-side
      @btn-primary-bc-bottom;
    color: @text-color-invert;

    &:hover {
      background: @btn-primary-hover-bg;
      background: linear-gradient(@btn-primary-hover-bg-lg-start,
        @btn-primary-hover-bg-lg-end);
    }
  }
  .use-primary:active,
  .use-primary.active {
    background: @btn-primary-active-bg;
    border-color: @btn-primary-active-bc-top @btn-primary-active-bc-side
      @btn-primary-bc-bottom;
    box-shadow: inset 0 2px 1px -1px @btn-primary-active-box-shadow;
  }

  .use-success {
    background: @btn-success-bg;
    background: linear-gradient(@btn-success-bg-lg-start,
      @btn-success-bg-lg-end);
    border-color: @btn-success-bc-top @btn-success-bc-top
      @btn-success-bc-bottom;
    color: @text-color-invert;

    &:hover {
      background: @btn-success-hover-bg;
      background: linear-gradient(@btn-success-hover-bg-lg-start,
        @btn-success-hover-bg-lg-end);
      border-color: @btn-success-hover-bc-top @btn-success-hover-bc-top
        @btn-success-hover-bc-bottom;
    }
  }
  .use-success:active,
  .use-success.active {
    background: @btn-success-active-bg;
    border-color: @btn-success-active-bc-top @btn-success-active-bc-left-right
      @btn-success-active-bc-left-right;
    box-shadow: inset 0 2px 1px -1px @btn-success-active-box-shadow;
  }

  .use-danger {
    background: #e14c30;
    background: linear-gradient(#ec5437, #d54328);
    border-color: #c5574c #c5574c #a93535;
    color: @text-color-invert;

    &:hover {
      background: #ce3a1e;
      background: linear-gradient(#d44227, #c73013);
      border-color: #b24c4c #b24c4c #993333;
    }
  }
  .use-danger:active,
  .use-danger.active {
    background: #cd381b;
    border-color: #853333 #b24c4c #b24c4c;
    box-shadow: inset 0 2px 1px -1px #9e2b15;
  }

  .use-pay {
    background: #ffc943;
    background: linear-gradient(#ffd44b, #ffbc3a);
    border-color: #f3c365 #f3c365 #d89535;

    &:hover {
      background: #fcb32c;
      background: linear-gradient(#ffbd3a, #f8a91d);
      border-color: #ebb052 #ebb052 #de9033;
    }
  }
  .use-pay:active,
  .use-pay.active {
    background: #fbb028;
    border-color: #d18933 #ebb052 #ebb052;
    box-shadow: inset 0 2px 1px -1px #d69622;
  }

  .root.disabled, .root.loading {
    background: @bg-disabled;
    border-color: @border-color-gray-light;
    box-shadow: none;
    color: #808080;
    overflow: hidden;
  }

  .loading:before {
    content: '';
    height: 100%;
    position: absolute;
    opacity: .3;
    background: linear-gradient(-60deg, transparent 33%, #ccc 0, #ccc 66%, transparent 0);
    background-size: 50px 100%;
    top: 0;
    left: 0;
    right: -50px;
    :global {
      animation: btn_loading 1.4s linear infinite;
    }
  }

  .warning {
    border-color: @border-color-warning;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-warning;
    position: relative;
    z-index: 2;
  }

  .error {
    border-color: @border-color-error;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-error;
    position: relative;
    z-index: 2;
  }

  :global(.rt-ie8) {
    .warning {
      outline: 1px solid @border-color-warning;
    }

    .error {
      outline: 1px solid @border-color-error;
    }
  }

  .narrow {
    padding-left: 5px;
    padding-right: 5px;
  }

  .noPadding {
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes btn_loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
} 
