:local {
  .root {
    display: inline-block;
    user-select: none;
  }

  .input {
    border: 0;
    height: 0;
    left: -10000px;
    opacity: 0;
    outline: 0;
    position: absolute;
    width: 0;
  }

  .item {
    display: block;
    margin-bottom: 6px;
  }

  .radio {
    float: left;
  }

  .label {
    // To make it 16px for default size text, so radio aligns with text.
    line-height: 1.143;
    margin-left: 20px;
  }
}
