@import '../variables.less';

:local {
  .root {
    background: linear-gradient(#fcfcfc, #ececec);
    border: 1px solid @border-color-gray-light;
    border-radius: 50%;
    box-shadow: inset 0 2px 3px -2px rgba(0, 0, 0, .1);
    display: inline-block;
    height: 14px;
    margin-right: 4px;
    width: 14px;
  }

  .focused {
    border-color: @border-color-focus;
    box-shadow: 0 0 0 1px @border-color-focus;
  }

  .inbox {
    background: @text-color-default;
    border-radius: 50%;
    display: none;
    height: 8px;
    margin: 3px;
    width: 8px;
  }

  .checked .inbox {
    display: block;
  }
}
